.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: $spacing-80px 1fr;
    width: 100%;
    padding: 0;
    

    .header {
        display: flex;
        line-height: 80px;
        background-color: $color-zinc-100;
        box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.1);
        justify-content: space-around;
        font-size: $spacing-20px;            


        .button_logout {
            font-weight: 700;
            cursor: pointer;            
        }

        .title {
            font-weight: 700;
            cursor: pointer;     
        }
    }

    main {
        margin: $spacing-32px ;
        
    }
}