$spacing-0px: 0px;	
$spacing-1px: 1px;	
$spacing-2px: 2px;	
$spacing-4px: 4px;	
$spacing-6px: 6px;	
$spacing-8px: 8px;	
$spacing-10px: 10px;	
$spacing-12px: 12px;	
$spacing-14px: 14px;	
$spacing-16px: 16px;	
$spacing-20px: 20px;	
$spacing-24px: 24px;	
$spacing-28px: 28px;	
$spacing-32px: 32px;	
$spacing-36px: 36px;	
$spacing-40px: 40px;	
$spacing-44px: 44px;	
$spacing-48px: 48px;	
$spacing-56px: 56px;	
$spacing-64px: 64px;	
$spacing-80px: 80px;	
$spacing-96px: 96px;	
$spacing-112px: 112px;	
$spacing-128px: 128px;	
$spacing-144px: 144px;	
$spacing-160px: 160px;	
$spacing-176px: 176px;	
$spacing-192px: 192px;	
$spacing-208px: 208px;	
$spacing-224px: 224px;	
$spacing-240px: 240px;	
$spacing-256px: 256px;	
$spacing-288px: 288px;	
$spacing-320px: 320px;	
$spacing-384px: 384px;


$color-zinc-50: #FAFAFA;
$color-zinc-100: #F4F4F5;
$color-zinc-200: #E4E4E7;
$color-zinc-300: #D4D4D8;
$color-zinc-400: #A1A1AA;
$color-zinc-500: #71717A;
$color-zinc-600: #52525B;
$color-zinc-700: #3F3F46;
$color-zinc-800: #27272A;
$color-zinc-900: #18181B;


$color-red-50: #FEF2F2;
$color-red-100: #FEE2E2;
$color-red-200: #FECACA;
$color-red-300: #FCA5A5;
$color-red-400: #F87171;
$color-red-500: #EF4444;
$color-red-600: #DC2626;
$color-red-700: #B91C1C;
$color-red-800: #991B1B;
$color-red-900: #7F1D1D;